@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Comic+Neue:ital,wght@1,700&family=Montserrat&family=Noto+Sans+Egyptian+Hieroglyphs&family=Quicksand:wght@300&family=Raleway:wght@100&family=Seaweed+Script&family=Sedgwick+Ave+Display&display=swap');
*{
	background-color: #060616;
}

h1 {
	color: white;
	padding-top: 10px;
	text-align: center;
	font-size: 60px;
	font-family: 'Quicksand', sans-serif;
}

input {
	background-color: white;
	width: 70%;
	margin-left: 12%;
	font-size: 20px;
	padding: 16px 16px;
	border-radius: 10px;
	border-color: black;
	margin-bottom: 20px;
	font-family: 'Comic Neue', cursive;
}

textarea {
	background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: 'Comic Neue', cursive;
}

input: focus-within {
	outline: none;
	border-color: #5bd183;
	border-width: 3px;
}

textarea: focus-within {
	outline: none;
	border-color: #5bd183;
	border-width: 3px;
}

button {
	background-color: #5bd183;
	border-radius: 20px;
	border-color: black;
	font-size: 22px;
	padding: 10px 18px;
	text-align: center;
	display: flex;
	margin: auto;
}

button:hover {
	opacity: 80%;
	cursor: pointer;
}